<h1>Articles Listing:</h1><br>
  <% @articles.each_with_index do |article, index| %>
    <h2>(<%= index + 1 %>) Title: <%= article["title"] %></h2><br>
    <p>URL: <a href="<%= article["article_url"] %>"><%= article["article_url"] %></a><br>
    Description: <%= article["description"] %></p><br>
  <% end %>
